html,
body {
  margin: 0;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 40px;
  color: white;
  transition: color 0.2s;
  font-weight: 600;
  font-size: 30px;
}
.bm-item:first-child {
  margin-top: 20px;
}
.bm-item:last-child {
  margin-bottom: 20px;
}
.bm-item:hover {
  color: #3b0d15;
  text-decoration: none;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: royalblue;
}

.bm-cross-button {
  height: 20px;
  width: 20px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: royalblue;
  padding: 1em 20px 0;
  font-size: 16px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  max-height: 600px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
